@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

$bodyFont: 'Quicksand', sans-serif;

.App {
  margin: 0 25px 50px 25px;

  h1 {
    text-shadow: 1px 1px black;
  }
}

body{
  color: white;
  background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-size: 100% 100%;
  font-family: $bodyFont;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  button {
    color: white;
    font-family: $bodyFont;
    font-size: 15px;
    backdrop-filter: blur(8px) saturate(169%);
    -webkit-backdrop-filter: blur(8px) saturate(169%);
    background-color: rgba(53, 53, 53, 0.68);
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    width: 80px;
    cursor: pointer;
  }

  button:hover {
    transition: 0.45s;
    background: black;
  }

  .task-form {
    font-family: $bodyFont;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;

    backdrop-filter: blur(8px) saturate(169%);
    -webkit-backdrop-filter: blur(8px) saturate(169%);
    background-color: rgba(53, 53, 53, 0.68);
    border: 1px solid black;
    border-radius: 8px;

    width: 400px;
    height: 650px;
    padding: 0 30px 20px 30px;

    .task-form-remove {
      text-align: center;
    }

    .remove-task{
      cursor: pointer;
    }

    .remove-task:hover {
      color: black;
    }

    input {
      background: rgb(46, 46, 46);
      border: 1px solid white;
      border-radius: 8px;
      padding: 10px;
      color: white;
      font-size: 15px;
      font-family: inherit;
    }

    .form-btn{
      background: #00a2ffe0;
      color: white;
      border: 1px solid black;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 15px;
      font-family: inherit;
    }

    .form-btn:hover{
      transition: 0.45s;
      border: 1px solid white;
      background: black;
      color: white;
    }

  }
}

.task-container {
  display: flex;
  flex-direction: row;
  gap: 1px;
  width: 75%;
  margin: auto;
}

.task-column {
  backdrop-filter: blur(8px) saturate(169%);
  -webkit-backdrop-filter: blur(8px) saturate(169%);
  background-color: rgba(53, 53, 53, 0.68);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  
  flex: 1;
  min-height: 800px;
  padding: 20px;
  width: 33%;

  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: top;
  gap: 10px;
}

.task {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  height: auto;
  background: rgb(46, 46, 46);

  .task-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .task-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    .show-info:hover{
      cursor: pointer;
      color: black;
    }

    .remove-task:hover{
      cursor: pointer;
      color: black;
    }
  }
}

.task-info {
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  height: auto;
  text-align: left;
  background: rgb(46, 46, 46);
}

.task-subtasks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  


  .task-subtask {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    height: auto;
    text-align: left;
    background: rgb(46, 46, 46);

    .subtask-buttons {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
  }
}

.remove-subtask {
  cursor: pointer;

  :hover {
    color: black;
  }
}

.add-subtask {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  padding: 15px;
  height: auto;
  text-align: left;
  gap: 10px;

  input {
    background: none;
    color: white;
    padding: 5px;
    border: solid 1px white;
    border-radius: 4px;
  }

  .form-btn {
    background: black;
      color: white;
      border: 1px solid black;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      font-family: inherit;
  }
}